<footer>
    <p>&copy; Copyright BookWorm 2023</p>
    <div class='div_footer'>
      <i><img src="/images/logo_reseaux_sociaux/logo-de-lapplication-facebook.png" /></i>
      <i><img src="/images/logo_reseaux_sociaux/logo-instagram.png" /></i>
      <i><img src="/images/logo_reseaux_sociaux//logo-linkedin.png" /></i>
      <i><img src="/images/logo_reseaux_sociaux/signe-twitter.png" /></i>
    </div>
  </footer>