  
  section {
    text-align: center
  }
  
  img {
    height: 130px;
    width: 130px
  }
  
  .button_article > button {
    border: none;
    height: 35px;
    width: 130px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .button_article > button:active {
    border: none;
    height: 35px;
    background-color: black;
    color: #ffff;
    width: 130px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .article {
    display: inline-grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 5px;
    border: 1px solid black;
  }
  
  .h3_title {
    width: 150px;
    font-size: 8px;
  }
  
  .navbar_burger {
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: inherit;
    display: none;
  }
  
  .panier {
    background-color: #424242;
    color: white;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 4px;
    width: 13px;
    height: 13px;
  }

  .panier_section {
    display: flex;
  }

  .panier_section p {
    margin-left: 10px;
    background-color: #424242;
    color: #ffff;
    border-radius: 20px;
    padding: 4px;
    font-size: 12px;
  }

  .site_title {
    display: flex;
    justify-content: center;
  }
  
  .site_title img {
    margin-left: 7px;
  }

  .title_panier {
    margin-top: 15px;
  }

  .container {
    flex-flow: column;
    min-height: 100vh;
}

  .Panier {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    padding: 2em;
    margin: 3em;
  }

  .panier_item {
    display: grid;
    align-self: center;
  } 

  .panier_price, .panier_quantity {
    display: inline;
  }

.panier_total, .panier_quantity {
  text-align: center;
  align-self: center;
}

.panier_total button {
  margin-top: 12px;
  height: 30px;
}

.quantity_change {
  display: flex;
  justify-content: space-around;
}

.quantity_change button {
  height: 20px;
  width: 20px;
}
  
  
@media (max-width: 650px) {
  .Panier {
  flex-direction: column
  }

  .panier_item {
    margin: auto;
  }

  .panier_price h3, .panier_quantité h3 {
   margin: auto;
  }

  .panier_quantité   {
   margin-top: 10px;
  }

  .panier_quantité button {
    height: 20px;
    width: 20px;
  }
}