* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

main {
    flex-flow: column;
    min-height: 100vh;
}

.content {
    flex:1
}

header {
    text-align: center;
}
  
nav, footer {
    background-color: #eb9634;
    padding: 2vh;
}
  
footer {
    text-align: center;
}
  
nav > h2 {
    text-align: center;
}

nav > .openMenu {
  display: flex;
  justify-content: space-around;
}

.div_footer img {
  height: 50px;
  width: 50px;
  margin: 10px;
}

    